body {
    color:forestgreen;
    background: forestgreen;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px rgb(255,255,255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255,255,255);
}

.chamada {
    background: rgb(255,255,255);
    padding-bottom: 30px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1{
    font-size: 40px;
}

p {
    font-size: 25px;
}
img{
    height: 200px;
}

.pepeu{
    padding-left: 20px;
    padding-right: 20px;
}